/* .Tilt {
  background: linear-gradient(to right, rgb(62, 180, 204), rgb(255, 74, 255));
} */

p {
  font-size: 50px;
  background: -webkit-linear-gradient(#28f19c, #02a3f8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.final {
  height: 50px;
  width: auto;
}

/* ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0px;
  padding: 0;
} */

div{
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
}